fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-multipart
opencv-python-headless
ultralytics
pydantic
pydantic-settings
celery[redis]
redis
prometheus-client
prometheus-fastapi-instrumentator
